<!--いいねはUserのみが可能-->
<% if user_signed_in? %>
  <div><%= react_component('Favorite') %></div>
  <% if hotel.favorited_by?(current_user) %>
    <%= link_to hotel_favorites_path(hotel), method: :delete, remote: true do %>
    <i class="fa fa-star" aria-hidden="true"></i>
    <% end %>
  <% else %>
    <%= link_to hotel_favorites_path(hotel), method: :post, remote: true do %>
    <i class="far fa-star"></i>
    <% end %>
  <% end %>
    <p><strong>  <%= hotel.favorites.count %></strong></p>
<% end %>
<!--参考:aria-hidden="true"は読み上げ利用時読み上げしないように記述(アクセシビリティを考慮)-->