<!--各ホテルの予約一覧-->
<div class="container">
  <h4><strong>予約一覧</strong></h4>
    <% @reservations.each do |reservation| %>
      <div class="col-xs-12 reservation-box">
      <%= render partial: 'reservations/all', locals: { reservation: reservation} %>
      <%= link_to "お客様詳細", admin_user_path(reservation.user) %>
      </div>
    <% end %>
  <div class="text-center">
    <%= paginate @reservations %>
  </div>
</div>
