/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*bootstrapを読み込ませる*/
 @import "bootstrap-sprockets";
 @import "bootstrap";

/*全体*/
html,body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, sans-serif;
  min-height: 100%;
  position: relative;
}

a:hover{
  text-decoration: none;
}

.faa-ring{
  color: #FFC300;
}

#maincontents{
  min-height: calc(100vh - 60px);/*100%から50pxの固定幅を引いた数値*/
}

.registration_btn{
  margin: 20px 0px;
}

/*Userのtop画面のCSS*/
.top-message{
  padding: 100px;
}

.top-message li{
  font-size:20px;
  list-style: none;
}

.top-message strong{
 background: linear-gradient(transparent 70%, orange 10%);
}

.top_img{
  border-radius: 50%;
  box-shadow: 8px 8px 8px rgba(0,0,0,0.3);
  /*hoverから戻るとき1秒待機*/
  transition-duration: 1s;
}

.top_img:hover{
  border-radius: 50%;
  /*hover時影が2倍に*/
  box-shadow: 16px 16px 16px rgba(0,0,0,0.3);
  /*hover時影が2倍になるようにY方向へ-8移動*/
  transform: translateY(-8px);
  transition-duration: 1s;
}

.sns {
  margin:40px 0px;
  padding:2rem;
}

.fab {
  font-size:50px;
}

.fa-instagram {
  color: #FF3366;
}

.fa-facebook {
  color: #000066;
}

.fa-twitter {
  color:#0099FF;
}

.fa-youtube {
  color: #FF3300;
}

.faa-ring{
  color: #FFC300;
}

/*Userのshow*/
.favorite_box{
  border: solid 1px rgba(255,195,0,0.8);
  border-radius: 5px;
  margin-bottom: 10px;
  padding:20px;
}

.favorite_box strong{
  font-size: 0.9em;
}

.profile {
  margin-bottom: 30px;
}

.profile-name {
  font-size:30px;
}

p {
  font-weight:400px;
}

/*Reservationのform*/
.reservation-form{
  background-color: #B2E800;
  background-color:rgba(178,232,0,0.7);
  border-radius: 5px;
  padding :20px;
}

/*Reservationの確認画面CSS*/
.back_btn{
  margin-bottom: 10px;
}

/*Reservationの部分テンプレートall*/
.reservation-box{
  border: solid 0.5px gray;
  border-radius: 5px;
  padding:20px;
  margin-bottom: 30px;
  box-shadow: 8px 8px 8px rgba(0,0,0,0.3);
}

/*Ownerのtop画面*/
.jumbotron{
  background-color:white;
}

.owner_main{
  padding:2rem;
}

.step{
 padding:2rem;
}

.owner_main_img {
  box-shadow: 8px 8px 8px rgba(0,0,0,0.3);
  object-fit:cover;
}

.owner_step {
  font-size:20px;
  list-style: none;
  padding: 100px;
}

.owner_top li {
  margin-bottom:20px;
}

.owner_top li span:hover {
  font-weight:bold;
  background: linear-gradient(transparent 70%, orange);
}

/*hotelsテンプレート*/
.hotel_box {
  border: solid 1px gray;
  border-radius: 5px;
  margin-bottom: 20px;
  padding:20px;
  box-shadow: 8px 8px 8px rgba(0,0,0,0.3);
}

.hotel_box:hover {
  background-color:rgba(255,248,38,0.3);
}

/*hotelsのshow*/
.hotel_profile {
  padding:10px;
}

.price_data {
  font-weight:bold;
  font-size:20px;
  color:red;
  background: linear-gradient(transparent 70%, yellow 10%);
}

.comment_form{
  margin: 30px 0px;
}

/*Ownerのuserのshow登録ホテル*/

.owner_hotel{
  margin-bottom:30px;
}


/*おきにいりのCSS*/
.fa-star {
  color:yellow;
  font-size:30px;
}
.fa-star-o {
  color:yellow;
  font-size:30px;
}

/*Adminホテルの編集CSS*/
.owner_edit_box{
  margin: 20px 0px;
}