/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*bootstrapを読み込ませる*/
 @import "bootstrap-sprockets";
 @import "bootstrap";

/*全体*/
html {
  position: relative;
  min-height: 100%;
}

a:hover{
  text-decoration: none;
}

.profile {
margin-bottom:30px;
}

.profile-name {
  font-size:30px;
}

p {
  font-weight:400px;
}

/*ReservationのallテンプレートのCSS*/
.reservation-box{
  border: solid 0.5px gray;
  border-radius: 5px;
  padding:20px;
  margin-bottom: 30px;
  box-shadow: 8px 8px 8px rgba(0,0,0,0.3);
}

/*Userのtop画面のCSS*/
.sns {
  margin:40px 0px;
  padding:2rem;
}

.fab {
  font-size:50px;
}

.fa-instagram {
  color: #FF3366;
}

.fa-facebook {
  color: #000066;
}

.fa-twitter {
  color:#0099FF;
}

.fa-youtube {
  color: #FF3300;
}

/*Ownerのtop画面のCSS*/
.jumbotron{
  background-color:white;
}

.owner_main{
  padding:2rem;
}

.step{
 padding:2rem;
}

.owner_main_img {
 width:500px;
 heigth:500px;
}

.owner_step {
  font-size:25px;
  list-style: none;
}

.owner_top li {
  margin-bottom:20px;
}

.owner_top li span {
  font-weight:bold;
  background: linear-gradient(transparent 70%, orange 10%);
}

.owner_top li span:hover {
  font-weight:bold;
  background: linear-gradient(transparent 70%, orange);
}

/*hotel一覧と詳細ページのCSS*/
.hotel_box {
  border: solid 1px gray;
  border-radius: 5px;
  margin-bottom: 20px;
  padding:20px;
  box-shadow: 8px 8px 8px rgba(0,0,0,0.3);
}

.hotel_box:hover {
  background-color:rgba(255,248,38,0.3);
}

.price_data {
  font-weight:bold;
  font-size:20px;
  color:red;
  background: linear-gradient(transparent 70%, orange 10%);
}

.hotel_profile {
  padding:10px;
}

.owner_hotel{
  margin-bottom:30px;
}

/*おきにいりのCSS*/
.fa-star {
  color:yellow;
  font-size:30px;
}
.fa-star-o {
  color:yellow;
  font-size:30px;
}