<% if model.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= model.errors.count %>個のエラーがあります。
    </div>
    <ul>
    <% model.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>